
.healthyM-wrapper {
  border: 1px black solid;
  width: 300px;
  margin: 10px;

}


.container{
  display: flex;
  width: 190spx;  

  }
    
  .text{
    display: inline;
    width: 100%;
  }
    
  .read-or-hide{
    color: rgb(192,192,192);
    cursor: pointer;
  }