@media (max-width: 576px) {
  nav {
    .nav-wrapper {
      .nav-content {
      display: none;
      z-index: 2;
      position: absolute;
      }
    }

    ul {
      display: flex;
      justify-content: space-around;
      flex-direction: row;

      li {
        font-size: larger;
        margin: 5px;
      }


    }

    .burger-menu-icon {
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.922);
        box-shadow: 5px 2px 2px rgb(82, 82, 82);
        border-radius: 7px;
        z-index: 1;
      }
    }

    .burger-menu-icon:hover {
      .dropdown-content {
        display: block;
        margin-top: 25px;
        a:hover {
        text-decoration: underline green;
       
       }
      }
    }
  }
}

.content-wrapper {
  display: flex;

}

.contentData {
  display: flex;
  flex-direction: column;
}

@media (min-width: 577px) {
  nav {
    .nav-wrapper {
      .burger-menu-icon {
        display: none;
      }
    }

    .contact-icons {
      display: flex;
      flex-direction: row;
      justify-content: center;
       li{
        padding: 5px;
        font-size: larger;
       }
 
    }
    .nav-content {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
       a:hover {
        text-decoration: underline green;
       
       }
    }
    }
  }

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}