@media (max-width: 576px) {
  nav {

    .nav-wrapper {
      ul {
        display: flex;
        justify-content: space-around;
        flex-direction: row;

        li {
          font-size: larger;
          margin: 5px;
        }
      }
    }

    .burger-menu-icon {
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: rgb(179, 175, 175);
        z-index: 1;
      }
    }

    .burger-menu-icon:hover {
      .dropdown-content {
        display: block;
      }
    }
  }
}

.content-wrapper {
  display: flex;

  .layer-wrapper {
    background-color: red;
  }
}

.contentData {
  display: flex;
  flex-direction: column;
}


@media (min-width: 768px) {
nav {

    .nav-wrapper {
      ul {
        display: flex;
        flex-direction: row;

        li {
          font-size: larger;
          margin: 5px;
        }
      }
    }

    .burger-menu-icon {
      .dropdown-content {
        position: absolute;
      }
    }

    .burger-menu-icon {
      display: none;
   
    }
  }
}


@media (min-width: 992px) {
  .content-wrapper {
    .layer-wrapper {
      background-color: rgb(19, 69, 134);
    }
  }
}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}