
@media (min-width: 576px) {
    ul {
      background-color: lightblue;
    }
  
  }
  
  @media (min-width: 768px) {
    ul {
      background-color: rgb(215, 206, 21);
    }
  }
  
  @media (min-width: 992px) {
    ul {
      background-color: rgb(18, 137, 98);
    }
  }
  
  @media (min-width: 1200px) {
    ul {
      background-color: rgb(51, 0, 255);
    }
  }
  
  @media (min-width: 1400px) {
    ul {
      background-color: red;
    }
  }